<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
 </head>
 <body>

  <section id="header">
   <header>
    <h1>{{ page.title }}</h1>
   </header>
  </section>

  <section id="main">
   <div class="container">
    <div class="content">
     {{ content }}
    </div>
   </div>
  </section>

  <footer>
   <p>
    Made by <a href="https://github.com/natronics">@natronics</a>
   </p>
  </footer>

 </body>
</html>
